<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='thanq.css') }}">
</head>
<body>
    <div id="thank-you-container">
        <h1>Thank You!</h1>
        <p>We appreciate your time and effort in filling out the form. Your input is invaluable to us.</p>
        <p>If you have any further comments, questions, or need assistance, feel free to <a href="https://chat.whatsapp.com/G03AkRpMq001uMWgr0yIer" target="_blank" id="whatsapp">contact us via WhatsApp</a>.</p>
        <a href="/get" class="button">See data</a>
        <a href="/edit" class="button">Edit data</a>

    </div>
</body>
</html>
